#colorPicker {
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  margin: auto;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}
#colorPicker span {
  color: #FFF;
  padding: 2px;
}
#colorPicker input {
  margin: 5px;
}